<%- include('../../Partials/Header.ejs') %>
    <div class="w-300 ms-300">
        <!-- Layout wrapper -->
        <div class="layout-wrapper layout-content-navbar">
            <div class="layout-container">
                <!-- Menu -->

                <%- include('../../Partials/Asides.ejs') %>

                    <!-- / Menu -->

                    <!-- Layout container -->
                    <div class="layout-page">
                        <!-- Navbar -->

                        <%- include('../../Partials/NavBar.ejs') %>


                            <!-- / Navbar -->

                            <!-- Content wrapper -->
                            <div class="content-wrapper">
                                <!-- Content -->

                                <div class="container-xxl flex-grow-1 container-p-y">
                                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Products/</span>
                                        View Product</h4>

                                    <!-- Basic Layout -->
                                    <div class="row g-3">
                                        <% if(data.length> 0) { %>
                                            <% data.forEach((item, id)=> { %>
                                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                                    <div class="bg-light p-3 rounded-3">
                                                        <div class="d-flex justify-content-center">
                                                            <img class="img-fluid rounded-3 mb-3 wi" src="<%= item.profileImage %>" alt="">
                                                        </div>
                                                        <h6>
                                                            <%= item.name %>
                                                        </h6>
                                                        <p>
                                                            <%= item.description %>
                                                        </p>
                                                        <p class="fw-semibold">
                                                            Brand Name : <%= item.extraCategoryId ? item.extraCategoryId.name : '' %><br><br>
                                                            Sub Category : <%= item.extraCategoryId && item.extraCategoryId.subcategoryId ? item.extraCategoryId.subcategoryId.name : '' %><br>
                                                            Category : <%= item.extraCategoryId && item.extraCategoryId.subcategoryId && item.extraCategoryId.subcategoryId.categoryId ? item.extraCategoryId.subcategoryId.categoryId.name : '' %>
                                                        </p>
                                                        <h6>
                                                            <%= item.price %>/-
                                                        </h6>
                                                        <a href="javascript:void(0);"><button class="btn btn-primary btn-sm">Buy</button></a>
                                                        <a href="/editprodct/<%= item._id %>"><button class="btn btn-warning btn-sm">Edit</button></a>
                                                    </div>
                                                </div>
                                            <% }) %>
                                        <% } else { %>
                                            <div class="row">
                                                <div class="col-xl">
                                                    <div class="card mb-4">
                                                        <div class="card-body">
                                                            <h4>No Data, Please Add Products..</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                                <!-- / Content -->

                                <!-- Footer -->
                                <%- include('../../Partials/Footer.ejs') %>
                                    <!-- / Footer -->

                                    <div class="content-backdrop fade"></div>
                            </div>
                            <!-- Content wrapper -->
                    </div>
                    <!-- / Layout page -->
            </div>

            <!-- Overlay -->
            <div class="layout-overlay layout-menu-toggle"></div>
        </div>
        <!-- / Layout wrapper -->


    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    </body>

    </html>